<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/ServiceLog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/access-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
    </appender>

	<appender name="SECURITY" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/securityCheckFail.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/security-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
    </appender>

	<root level="DEBUG">
		<appender-ref ref="SECURITY"/>
      	<appender-ref ref="FILE"/>
  	</root>

	
</configuration>